.grid-list {
    position: relative;
    overflow: hidden;
    clear: both;
    &-item {
        height: 185px;
        width: 138px;
        margin-right: 20px;
        margin-bottom: 30px;
        overflow: hidden;
        position: relative;
        &.type-1 {
            &:nth-child(5n) {
                margin-right: 0;
            }
        }
        .order {
            line-height: 42px;
            font-size: 12px;
            margin-right: 10px;
            font-family: 微软雅黑;
            color: @c-999;
        }
        .img {
            width: 100%;
            margin-bottom: 10px;
            overflow: hidden;
            position: relative;
            .desc {
                position: absolute;
                bottom: 0;
                line-height: 24px;
                color: @white;
                padding: 0 10px;
                width: calc(100% - 20px);
                background-image: linear-gradient(to right, rgba(255,255,255,0.3), rgba(0,0,0,0.3));
                // background-color: rgba(0, 0, 0, 0.5);
            }
            img {
                width: 100%;
                overflow: hidden;
            }
            &:hover {
                .copy-writer {
                    transform: translateY(0px);
                }
                .right {
                    // display: none;
                    opacity: 0;
                }
            }
            .copy-writer,.right {
                position: absolute;
                top: 0px;
                box-sizing: border-box;
                color: @white;
            }
            .copy-writer {
                background-color: rgba(0, 0, 0, 0.5);
                padding: 8px 10px;
                line-height: 16px;
                font-size: 12px;
                width: 100%;
                left: 0;
                transform: translateY(-100%);
                overflow: hidden;
                transition: all .3s 0.5s;
                text-align: justify;
                z-index: 10;
            }
            .right {
                right: 0;
                top: 0;
                max-width: 100px;
                line-height: 18px;
                padding: 0px 10px;
                opacity: 1;
                transition: all .1s 0.5s;
                background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(0,0,0,0.3));
                .icon::after {
                    color: @white;
                }
            }
            .creator {
                position: absolute;
                bottom: 0px;
                left: 0;
                padding-left: 10px;
                box-sizing: border-box;
                width: 100%;
                line-height: 30px;
                color: @white;
                background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(0,0,0,0.8));
                i::after {
                    color: @white;
                }
            }
            .play-count {
                margin-left: 5px;
            }
        }
        .name {
            font-size: 12px;
            line-height: 18px;
            color: @c-333;
        }
        &.type-5 {
            height: 180px;
            width: 244px;
            &:nth-child(3n) {
                margin-right: 0;
            }
            .left {
                position: absolute;
                top: 5px;
                left: 5px;
                padding: 6px 7px;
                border-radius: 50px;
                background-color: rgba(0, 0, 0, 0.3);
                span::after {
                    color: @white;
                    font-size: 12px;
                }
            }
        }
        &.type-2 {
            width: 380px;
            height: 150px;
            margin-right: 10px;
            &:nth-child(2n) {
                margin-right: 0;
            }
            &:nth-child(5n) {
                margin-right: 10px;
            }
            .img {
                width: 120px;
                float: left;
                position: relative;
                .time {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    padding: 0 10px;
                    color: @white;
                    background-image: linear-gradient(to right, rgba(255,255,255, 0), rgba(0,0,0, 0.3));
                    line-height: 20px;
                }
            }
            .text {
                margin-left: 10px;
                float: left;
                .name {
                    font-size: 14px;
                    margin-bottom: 10px;
                }
                span {
                    width: 230px;
                    font-size: 12px;
                    line-height: 20px;
                    color: @c-999;
                    display: block;
                }
                .price {
                    font-size: 14px;
                    font-family: 微软雅黑;
                    font-weight: 400;
                    margin-top: 10px;
                }
            }
        }
        // 视频列表
        &.type-3 {
            width: 244px;
            height: 200px;
            &:nth-child(3n) {
                margin-right: 0;
            }
            .img {
                height: 152px;
                &:hover {
                    .left {
                        position: absolute;
                        display: block;
                        left: 50%;
                        top: 50%;
                    }
                }
            }
            .text {
                .name {
                    margin-bottom: 5px;
                }
                .creator {
                    color: @c-666;
                }
            }
        }
        &.type-4 {
            width: 385px;
            height: 132px;
            margin-right: 0;
            padding: 20px;
            margin-bottom: 0;
            border-right: 1px solid @c-e8;
            border-bottom: 1px solid @c-e8;
            box-sizing: border-box;
            &:nth-child(2n) {
                border-right: 0;
            }
            &:nth-child(9),
            &:nth-child(10) {
                border-bottom: 0;
            }
            .order {
                line-height: 92px;
                color: @c-666;
                font-style: italic;
                font-size: 18px;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 25px;
                    width: 6px;
                    height: 1px;
                    background-color: @c-666;
                    left: 50%;
                    margin-left: -3px;
                }
            }
            .img {
                width: 160px;
                height: 90px;
                float: left;
            }
            .text {
                padding-top: 10px;
                max-width: 140px;
                float: left;
                margin-left: 10px;
                .creator {
                    margin-top: 5px;
                    color: @c-666;
                }
            }
        }
        &.ftype-0 {
            width: 385px;
            margin-bottom: 0;
            height: auto;
            margin-right: 0;
            .grid-list-item {
                padding: 10px;
                box-sizing: border-box;
                border: 0;
                height: 62px;
                &:hover {
                    background-color: @c-ddd !important;
                }
                .img {
                    height: 42px;
                    width: 42px;
                    margin-right: 10px;
                    position: relative;
                    .icon {
                        position: absolute;
                        left: 50%;
                        margin-left: -10px;
                        top: 50%;
                        margin-top: -8px;
                        &::after {
                            font-size: 16px;
                            padding: 4px;
                            background-color: rgba(0, 0, 0, 0.5);
                        }
                    }
                }
                .name {
                    margin-bottom: 5px;
                }
                .singer {
                    color: @c-999;
                }
                &:nth-child(even) {
                    background-color: @c-eee;
                }
            }
            &:nth-child(1){
                .grid-list-item {
                    border-right: 1px solid @c-e8;
                }
            }
        }
    }
}